@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(125deg, #ffe53bd8, #ff2525da);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Relogio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 550px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0px 8px 10px black;
}

.Relogio div {
  height: 170px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: black;
  box-shadow: 5px 5px 15px black;
  border-radius: 7px;
  letter-spacing: 3px;
}

.Relogio span {
  font-weight: bolder;
  font-size: 60px;
}

.Relogio span.tempo {
  font-size: 10px;
}

.container {
display: flex;
flex-direction: column; /* ⬅️ ISSO resolve */
align-items: center;
gap: 20px;
}

#versiculo {
color: #000000;
font-size: 1.2rem;
max-width: 600px;
padding: 15px;
text-align: center;
font-style: italic;
opacity: 0.9;
}

.N° {
  font-family: "MinhaFonte", Arial, sans-serif;
}

@font-face {
  font-family: "MinhaFonte";
  src: url("fonts/Azonix.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
